/* we can use a single css file to style all the files in our wwebsite */

/* you can pick your own background colors, text colors, and fonts */

/* we can select an html element tag, in this case "body" will apply to the whole document */
body {
  background-color: #ffffff;
}

/* we can have rules apply to multiple elements at the same time with commas */
h1,h2,h3 {
  font-family: sans-serif;
}

/* and we can have rules that overlap other rules, both take effect */
h1 {
  letter-spacing: 5px;
  word-spacing: 5px;
  font-size: 200%;
}

/* the hashtag in a CSS selector selects an element by id, e.g., id="content" */
#content {
  margin: 10px;
  padding: 10px;
  border: solid 3px #000000;
  background-color: #cbf6da;
}

.minor-section-1 {
  margin: 10px;
  padding: 10px;
  border: solid 3px cornflowerblue;
  background-color: #f3bbbb;
}

.minor-section-2 {
  margin: 10px;
  padding: 10px;
  border: solid 3px cornflowerblue;
  background-color: #ff9696;
}

.minor-section-3 {
  margin: 10px;
  padding: 10px;
  border: solid 3px cornflowerblue;
  background-color: #f96565;
}

.minor-section-4 {
  margin: 10px;
  padding: 10px;
  border: solid 3px cornflowerblue;
  background-color: #fd4646;
}