/* we can use a single css file to style all the files in our wwebsite */

/* you can pick your own background colors, text colors, and fonts */

/* we can select an html element tag, in this case "body" will apply to the whole document */
body {
  background-color: #000000;
}

/* we can have rules apply to multiple elements at the same time with commas */
h1,h2,h3 {
  font-family: monospace;
}

/* and we can have rules that overlap other rules, both take effect */
h1 {
  letter-spacing: 5px;
  word-spacing: 5px;
  font-size: 200%;
}

/* the hashtag in a CSS selector selects an element by id, e.g., id="content" */

body {
  background-color: #000000;
}

#content {
  margin: 10px;
  padding: 10px;
  border: solid 3px #5539f5;
  background-color: #103808;
}

.minor-section-1 {
  margin: 10px;
  padding: 10px;
  border: solid 3px rgb(150, 97, 243);
  background-color: #8abd8c;
}

.minor-section-2 {
  margin: 10px;
  padding: 10px;
  border: solid 3px rgb(150, 97, 243);
  background-color: #8abd8c;
}

.minor-section-3 {
  margin: 10px;
  padding: 10px;
  border: solid 3px rgb(150, 97, 243);
  background-color: #8abd8c;
}

.minor-section-4 {
  margin: 10px;
  padding: 10px;
  border: solid 3px rgb(150, 97, 243);
  background-color: #8abd8c;
}