/* we can use a single css file to style all the files in our wwebsite */

/* you can pick your own background colors, text colors, and fonts */

/* we can select an html element tag, in this case "body" will apply to the whole document */
body {
  background-color: #000000;
}

/* we can have rules apply to multiple elements at the same time with commas */
h1,h2,h3 {
  font-family: sans-serif;
}

/* and we can have rules that overlap other rules, both take effect */
h1 {
  letter-spacing: 5px;
  word-spacing: 5px;
  font-size: 200%;
}

/* the hashtag in a CSS selector selects an element by id, e.g., id="content" */
#content {
  margin: 10px;
  padding: 10px;
  border: solid 3px #ff0000;
  background-color: #c03190;
}

/* the period in a CSS selector selects an element by class, e.g., class="minor-section" */
.minorsection {
  padding: 10px;
  margin-bottom: 10px;
  border: solid 1px #332407;
  background-color: #1b8746;
}

#c-button{
  color: rgb(0, 0, 0);
}

#r-button{
  color: rgb(0, 0, 0);
}


#p-button{
  color: rgb(0, 0, 0);
}

.special{
  background-color: rgb(19, 45, 67);
}