#content {
    margin: 10px;
    padding: 10px;
    border: solid 3px #000000;
    background-color: #fcead0;
  }

.minor-section {
    margin: 10px;
    padding: 10px;
    border: solid 3px rgb(211, 252, 219);
    background-color: rgb(255, 255, 255);
}

.minor-section {
    margin: 10px;
    padding: 10px;
    border: solid 3px rgb(252, 207, 207);
    background-color: rgb(255, 255, 255);
}

.minor-section {
    margin: 10px;
    padding: 10px;
    border: solid 3px rgb(255, 158, 31);
    background-color: rgb(255, 255, 255);
}

.minor-section {
    margin: 10px;
    padding: 10px;
    border: solid 3px rgb(224, 225, 246);
    background-color: rgb(255, 255, 255);
}