#content {
    margin: 10px;
    padding: 10px;
    border: solid 3px #000000;
    background-color: #754e18;
  }

.minor-section-one {
    margin: 10px;
    padding: 10px;
    border: solid 3px rgb(3, 47, 11);
    background-color: rgb(42, 193, 52);
}

.minor-section-two {
    margin: 10px;
    padding: 10px;
    border: solid 3px rgb(66, 5, 5);
    background-color: rgb(231, 62, 62);
}

.minor-section-three {
    margin: 10px;
    padding: 10px;
    border: solid 3px rgb(255, 158, 31);
    background-color: rgb(251, 255, 131);
}

.minor-section-four {
    margin: 10px;
    padding: 10px;
    border: solid 3px rgb(5, 8, 57);
    background-color: rgb(74, 88, 217);
}